<!-- This is the html form for a new user -->
<ion-view view-title="NewUser">
  <ion-content class="padding">
    <h2>Welcome to Bike Ped Safety</h2>
    <form action="https://arcane-beach-11863.herokuapp.com/new" method="post">
      Name:<br>
      <input type="text" name="name"><br>
      Email:<br>
      <input type="text" name="email">
      Favorite:<br>
      <input type="text" name="favorite">
      <input type="submit" value="submit">
    </form>
    <p>TODO: New user form</p>
  </ion-content>
</ion-view>
